/*
sacy css cache dump 

This dump has been created from the following files:
    - <root>/_css/print.css
*/


/* <root>/_css/print.css */
*{font-family:Arial,sans-serif;color:#000}img{border:none}a{color:#374C6F;text-decoration:underline}footer
a{color:#000;text-decoration:none}footer{border-top:#58595C 4px solid;margin-top:40px;padding-top:20px;clear:both}hr,
.hidden,
#users-section,
#bookshop-section,
#social-network,
footer .nav-links,
.right-collumn,
#main-section,
#nav-bar,
header p,
header .header-links,
#adv-billboard,
.arrows-bar,
.arrows-expand-bar,
.art-list,
.sub-header,
#copyright span,
#copyright fl-right,
.art-comments,
.art-social-buttons,
.art-issues ul,
article .art-image,
article .art-yt,#cookies-bar,arroar,arroar,arroar,arroar,arroar,arroar{display:none !important}.fl-right{float:right}article{font-size:12pt;line-height:18pt}article .art-title{font-size:2em;font-weight:400;line-height:1.1em;margin:0
0 20px 0}article .art-lead{text-align:justify;font-size:12pt;font-weight:bold;line-height:18pt;margin:0
0 20px 0}article .art-text{text-align:justify;font-size:12pt;line-height:18pt;margin:0
0 20px 0}article .art-authors{margin:0
0 20px 0}article .art-authors a,
article .art-authors a
strong{color:#A1A3A7;font-weight:400;font-size:15pt;text-decoration:none}article .art-date{display:block;font-size:11pt;padding:0;margin:0
0 20px 0}#art-issues-box{border-top:#58595C 2px solid;margin-top:20px;padding:20px
0px 20px 0;position:relative;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}#art-issues-box:after{clear:both;content:"";display:table;line-height:0}#art-issues-box .art-cover{float:left;margin-right:20px}#art-issues-box
em{font-size:30px;font-weight:400;font-style:normal;line-height:35px;color:#374C6F;display:block;margin: -2px 0 13px 0}#art-issues-box
strong{font-weight:400}#art-issues-box strong,
#art-issues-box strong
a{color:#EC1C3B;text-decoration:none}#art-issues-box
div{font-size:14px;font-weight:300;line-height:18px}